<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        -->
    <title>@ViewData["Title"] - HR Portal</title>

    <!--
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
     <link rel="stylesheet" href="./css/bootstrap.min (9).css"/>
    -->

    <!-- Favicons -->
    <link href="~/NewBiz/assets/img/favicon.png" rel="icon">
    <link href="~/NewBiz/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts--> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700" rel="stylesheet"> 

    <!-- Vendor CSS Files -->
    <link href="~/NewBiz/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/NewBiz/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/NewBiz/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/NewBiz/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/NewBiz/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/NewBiz/assets/css/style.css" rel="stylesheet">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HR Portal</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Departments" asp-action="">Departments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="">Employees</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Documents" asp-action="Create">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(SD.Admin))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Manage Users</a>
                        </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MIS421_FinalProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Vendor JS Files -->
    <script src="~/NewBiz/assets/vendor/aos/aos.js"></script>
    <script src="~/NewBiz/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/NewBiz/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/NewBiz/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/NewBiz/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/NewBiz/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/NewBiz/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/NewBiz/assets/js/main.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

