@model MIS421_FinalProject.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="empID" />
            <div class="form-group">
                <label asp-for="ProfilePic" class="control-label">Profile Picture</label>
                <input type="file" id="ProfilePic" name="ProfilePic" multiple class="form-control" />
                <span asp-validation-for="ProfilePic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empFName" class="control-label">First Name</label>
                <input asp-for="empFName" class="form-control" />
                <span asp-validation-for="empFName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empLName" class="control-label">Last Name</label>
                <input asp-for="empLName" class="form-control" />
                <span asp-validation-for="empLName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empPhone" class="control-label">Phone Number</label>
                <input asp-for="empPhone" class="form-control" />
                <span asp-validation-for="empPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empEmail" class="control-label">Email</label>
                <input asp-for="empEmail" class="form-control" />
                <span asp-validation-for="empEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empAddress" class="control-label">Street Address</label>
                <input asp-for="empAddress" class="form-control" />
                <span asp-validation-for="empAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empCity" class="control-label">City</label>
                <input asp-for="empCity" class="form-control" />
                <span asp-validation-for="empCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empState" class="control-label">State</label>
                <input asp-for="empState" class="form-control" />
                <span asp-validation-for="empState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empZip" class="control-label">Zipcode</label>
                <input asp-for="empZip" class="form-control" />
                <span asp-validation-for="empZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empCountry" class="control-label">Country</label>
                <input asp-for="empCountry" class="form-control" />
                <span asp-validation-for="empCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empBDate" class="control-label">Birth Date</label>
                <input asp-for="empBDate" class="form-control" />
                <span asp-validation-for="empBDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empSSN" class="control-label">SSN</label>
                <input asp-for="empSSN" class="form-control" />
                <span asp-validation-for="empSSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empGender" class="control-label">Gender</label>
                <input asp-for="empGender" class="form-control" />
                <span asp-validation-for="empGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empMaritalStatus" class="control-label">Marital Status</label>
                <input asp-for="empMaritalStatus" class="form-control" />
                <span asp-validation-for="empMaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empHireDate" class="control-label">Hire Date</label>
                <input asp-for="empHireDate" class="form-control" />
                <span asp-validation-for="empHireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empEndDate" class="control-label">End Date</label>
                <input asp-for="empEndDate" class="form-control" />
                <span asp-validation-for="empEndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="empActive" /> @Html.DisplayNameFor(model => model.empActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="empSalary" class="control-label">Salary</label>
                <input asp-for="empSalary" class="form-control" />
                <span asp-validation-for="empSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
